server {
    listen   80;
    server_name crm.test;
    index index.html index.htm index.php;
    root   /data/www/crm/public;
    client_max_body_size 100M;

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    location ~ [^/]\.php(/|$) {
        fastcgi_connect_timeout 60;
        fastcgi_read_timeout 300;
        fastcgi_send_timeout 300;

        include fastcgi_params;
        # fastcgi_pass   php56:9000;
        fastcgi_pass   php71:9000;
        fastcgi_index  index.php;
        fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
        # fastcgi_param  SCRIPT_FILENAME  /data/www/public$fastcgi_script_name;
    }
}